# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor/

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#网站logo
/web/upload/logo/*
#头像
/web/upload/portrait/*
#文章缩略图
/web/upload/article/*
#文章内图片
/web/upload/ac/*

modules/weixin/views/
web/cache/
web/test/css/
web/test/images/
web/upload/ac/
web/upload/article/
web/upload/logo/
web/upload/test/

web/help/simditor/attached/

.gitignore